build/bin
node_modules
frontend/dist
desktop/.env
desktop/token.json
frontend/android/app/google-services.json
frontend/capacitor.config.ts
noti/token.json
desktopOLD/token.json
noti/.env
desktopOLD/.env
